node_modules/
.DS_Store

# Cypress
cypress/videos/
cypress/screenshots/

# Build artifacts
dist-test-extension/
dist/
release/
artifacts/
store/

# VSCode + Chrome debug profile
.vscode/chrome-profile/

# Playwright
playwright/videos/
playwright/test-results/
test-results/
